/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~highlight.js/styles/vs.css';

@import './abstracts/functions';
@import './abstracts/variables';
@import './abstracts/placeholders';
@import './abstracts/mixins';

@import './base/reset';
@import './base/typography';

@import './themes/default';
@import './shame';

html,
body {
  height: 100%;
  font-size: $default_font_size;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// override styles globally
#app {
}
