<h1>Learning materials - React and Angular</h1>
<p>Here you can find a list of useful learning websites or concepts:</p>
<ul>
  <li>
    <h2>Front-end</h2>
    <ul>
      <li>
        <h3>General</h3>
        <ul>
          <li>
            <a href="https://freecodecamp.org" target="_blank">FreeCodeCamp</a>
          </li>
        </ul>
      </li>
      <li>
        <h3>Styling</h3>
        <ul>
          <li>
            <a href="https://sass-guidelin.es/#architecture" target="_blank">SASS Architecture Guide</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
