<h1>Angular Styling</h1>
<ul>
  <li>
    <a with-bold-text [routerLink]="[routePaths.WEB_COMPONENTS]"
      >Web Components</a
    >
  </li>
  <li>
    <a with-bold-text [routerLink]="[routePaths.VIEW_ENCAPSULATION]"
      >View Encapsulation</a
    >
  </li>
  <li>
    <a with-bold-text [routerLink]="[routePaths.EMULATED_CSS_SELECTORS]"
      >Emulated CSS Selectors</a
    >
  </li>
  <li>
    <a with-bold-text [routerLink]="[routePaths.SCSS_ARCHITECTURE]"
      >SCSS Architecture in Angular</a
    >
  </li>
</ul>
