<h1>RxJS in Angular: Reactive Development</h1>
<nav class="sub-navigation">
    <mat-nav-list class="list">
        <a class="subroute-link" mat-list-item routerLink="/rxjs" routerLinkActive="active-subroute"  [routerLinkActiveOptions]="{exact: true}"> Intro </a>
        <a class="subroute-link" *ngFor="let link of links" mat-list-item  [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/rxjs', {outlets: {rxjsOutlet: [link.href]}}]" routerLinkActive="active-subroute" > {{ link.name }} </a>
     </mat-nav-list>
</nav>
<div class="container">
    <router-outlet name="rxjsOutlet"></router-outlet>
</div>